:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.rectangle {
    display:flex;
    gap: 100px;
    flex-shrink: 0;
    
}

.rectangle2 {
    flex-direction: column;
}


p {
    color: #8F8D8D;
    margin-bottom: 25px;
    margin-top: 0px;
    font-size: 12px;
}

main {
    
    margin: auto;
    width: 650px;
    padding: 20px;
    border: 2px outset grey;
    border-radius: 10px;
    background-color: #FFFDFD;
    box-shadow: 5px 10px rgb(211, 209, 209);
    
    
}


.form-label {
    margin: 0 auto 5px;
    
}

input {
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto 15px;
    border-color: #B4B3B3;
    color: red;
    
}


::placeholder {
    color: rgb(196, 195, 195);
}


button {
    
    width: 80px;
    height: 32px;
    margin-top: 25px;
    margin-left: 230px;
    background-color: #0c0B53;
    color: #FFFAFA;
    font-size: 10px;
    border-radius: 5px;
    
}

button:hover {
    color: red;
}

body {
    padding: 100px;
    background-color: rgb(236, 233, 228);
    margin: 100px;
}